<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xiaozhigang.blog.mapper.BlogMapper">
    <resultMap id="blogResultMap" type="cn.xiaozhigang.blog.domain.Blog">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="brief" column="brief"/>
        <result property="text" column="text"/>
        <result property="categoryCode" column="category_code"/>
        <result property="createTime" javaType="java.sql.Timestamp"
                column="create_time" jdbcType="TIMESTAMP"/>
        <result property="modifyTime" javaType="java.sql.Timestamp"
                column="modify_time" jdbcType="TIMESTAMP"/>
        <result property="likeNum" column="like_num"/>
        <result property="browseNum" column="browse_num"/>
        <result property="commentNum" column="comment_num"/>
        <result property="beginImgHref" column="begin_img_href"/>
    </resultMap>

    <resultMap id="blogSaveResultMap" type="cn.xiaozhigang.blog.domain.BlogSave">
        <id property="id" column="id"/>
        <result property="textMd" column="text_md"/>
        <result property="categoryCode" column="category_cody"/>
        <result property="createTime" javaType="java.sql.Timestamp"
                column="create_time" jdbcType="TIMESTAMP"/>
        <result property="modifyTime" javaType="java.sql.Timestamp"
                column="modify_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="findBlogWithoutTextByBlogQuery" resultMap="blogResultMap">
        SELECT
            id,
            uid,
            title,
            brief,
            category_code,
            create_time,
            modify_time,
            like_num,
            browse_num,
            comment_num,
            begin_img_href
        FROM
            b_blog
        WHERE
            category_code = #{categoryCode}
        ORDER BY id ASC LIMIT   #{start},#{end}
    </select>

    <select id="findBlogWithoutTextByUid" parameterType="map" resultMap="blogResultMap">
        SELECT
            id,
            uid,
            title,
            brief,
            category_code,
            create_time,
            modify_time,
            like_num,
            browse_num,
            comment_num,
            begin_img_href
        FROM
            b_blog
        WHERE
            uid = #{uid}
        ORDER BY  modify_time DESC
        <if test="amount != null">
            LIMIT  #{amount}
        </if>
    </select>

    <select id = "findById" resultMap = "blogResultMap">
        SELECT
            id,
            title,
            brief,
            text,
            category_code,
            create_time,
            modify_time,
            like_num,
            browse_num,
            comment_num,
            begin_img_href
        FROM
            b_blog
        WHERE
           id = #{id}
    </select>

    <update id = "like">
        UPDATE b_blog SET like_num = like_num + 1 WHERE id = #{id}
    </update>

    <update id = "unlike">
        UPDATE b_blog SET like_num = like_num - 1 WHERE id = #{id} AND like_num > 0
    </update>

    <select id="findBlogSaveByUid" parameterType="int" resultMap="blogSaveResultMap">
        SELECT id,uid,text_md,category_code,create_time,modify_time FROM b_blog_save WHERE uid = #{uid} LIMIT 1
    </select>

    <insert id="addBlogSave" parameterType="cn.xiaozhigang.blog.domain.BlogSave">
        INSERT INTO b_blog_save
        <trim prefix="(" suffix=")" prefixOverrides="," suffixOverrides=",">
            <if test="userId != null">
                uid,
            </if>
            <if test="textMd != null">
                text_md,
            </if>
            <if test="categoryCode !=null">
                category_code,
            </if>
            <if test="createTime !=null">
                create_time,
            </if>
            <if test="modifyTime != null">
                modify_time
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" prefixOverrides="," suffixOverrides=",">
            <if test="userId != null">
                #{userId},
            </if>
            <if test="textMd != null">
                #{textMd},
            </if>
            <if test="categoryCode !=null">
                #{categoryCode},
            </if>
            <if test="createTime !=null">
                #{createTime},
            </if>
            <if test="modifyTime != null">
                #{modifyTime}
            </if>
        </trim>
    </insert>

    <update id="updateBlogSave" parameterType="cn.xiaozhigang.blog.domain.BlogSave">
        UPDATE b_blog_save
        <set>
            <if test="textMd != null">text_md = #{textMd},</if>
            <if test="categoryCode != null">category_code = #{categoryCode},</if>
            <if test="modifyTime != null">modify_time = #{modifyTime}</if>
        </set>
        WHERE id = #{id}
    </update>

    <insert id="addBlog" parameterType="cn.xiaozhigang.blog.domain.Blog">
        INSERT INTO b_blog
        <trim suffixOverrides="," prefixOverrides="," prefix="(" suffix=")">
            <if test="userId != null">
                uid,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="brief != null">
                brief,
            </if>
            <if test="text != null">
                text,
            </if>
            <if test="categoryCode != null">
                category_code,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="modifyTime != null">
                modify_time
            </if>
        </trim>
        VALUES
        <trim suffixOverrides="," prefixOverrides="," prefix="(" suffix=")">
            <if test="userId != null">
                #{userId},
            </if>
            <if test="title != null">
                #{title},
            </if>
            <if test="brief != null">
                #{brief},
            </if>
            <if test="text != null">
                #{text},
            </if>
            <if test="categoryCode != null">
                #{categoryCode},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="modifyTime != null">
                #{modifyTime}
            </if>
        </trim>
    </insert>
</mapper>