
 @media screen and (max-width: 1000px) {
     .header-top,
     .header-bottom {
         width: 94%;
     }
 }

 @media screen and (max-width: 768px) {
     .header{
        top:0;
     }
     .header-topbar,
     .main-nav {
         display: none;
     }
     .header-bottom {
         width: 90%;
     }
     .header-nav,
     .header-bottom {
         height: 50px;
     }
     .logo {
         font-size: 22px;
         line-height: 50px;
     }

     .main-nav-list-iphone {
         display: block;
         float: right;
         line-height: 50px;
         text-align: center;
     }
     .main-nav-list-iphone li {
         float: left;
         width: 50px;
     }
     .main-nav-list-iphone li a {
         font-size: 10px;
     }
     .search {
         margin-top: 13px;
         margin-left: 10px;
         font-size: 10px;
     }
     .content,.footer-top {
        width: 100%;
    }
    #sidebar {
        display: none;
    }
    .left-content {
        margin-right: 0;
    }
     .content-search {
        height: 32px;
        top: 58px;
    }
    .content-search form {
        width: 100%;
        /*height: 28px;*/
        margin: 1px 0;
    }
    .content-submit {
        flex: 0 0 60px
    }
    .search-text,
    .content-submit {
        height: 28px;
    }
 }

@media screen and (min-width: 768px) and (max-width: 840px) {
    .content-top {
        flex: 0 0 900px;
    }
    .article-content {
        max-height: 108px;
        margin: 5px 0;
    }
    .article-right img {
        height: 70%;
    }
    .article-title,
    .article-content {
        font-size: 14px;
        overflow: hidden;
    }

    .article-eye {
        font-size: 10px;
        flex: 0 0 35px !important;
    }
    .article-eye div:nth-of-type(1) {
        flex: 1;
    }
    .sidebar-top {
        flex: 0 0 1020px;
        margin: 10px 0 0 0;
    }
    .left-content .left-content-list {
        padding: 5px !important;
        /*margin-top: 5px;*/
    }
    .sidebar-bottom {
        display: none;
    }
}
@media screen and (max-width: 600px) {

    .left-content .left-content-list {
        padding: 5px;
        margin-top: 5px;
    }
    .content-top {
        flex: 0 0 900px;
        display: flex;
    }
    .article-title {
        max-height: 40px;
    }
    .article-title,
    .article-content {
        font-size: 14px;
        overflow: hidden;
    }
    .article-title,
    .article-eye {
        flex: 1;
        /*text-align: center;*/
    }

    .article-eye div {
        font-size: 10px;
        flex: 0 0 35px;
    }
    .article-eye div:nth-of-type(1) {
        flex: 1;
    }
    .article-content {
        flex: 3;
        max-height: 80px;
    }
    .article-right img {
        height: 66%;
    }
}

@media screen and (max-width: 550px) {
    .content-bottom {
        max-height: 400px;
        flex-basis: 400px !important;
        flex-direction: column;
        margin-top:5px;
    }
    .cont-bott-right {
        margin-top: 5px;
        margin-left: 0;
    }
    .left-slide,
    .right-slide {
        top: 80px !important;
    }
    .right-slide {
        right: 10px !important;
    }
    #wrap{
    perspective: 2000px !important;/*透视距离500px*/
    }
   #wrap .common{
        height: 134px !important;
    width: 230px !important;
    }
  }